@page "/moveable"

<h1>Moveable</h1>

<div id="moveable" draggable="true"
     @ondragend="OnDragEnd" @ondragstart="OnDragStart"
     style="position:relative; top: @(offsetY)px; left: @(offsetX)px; border-color: black;">
    <div id="handle">
    </div>
</div>

<style>
    #moveable {
        width: 100px;
        height: 100px;
        background: blue;
    }

    #handle {
        width: 50px;
        height: 50px;
        cursor: move;
        background: red;
    }
</style>

@code {
    private double startX, startY, offsetX, offsetY;

    private void OnDragStart(DragEventArgs args)
    {
        startX = args.ClientX;
        startY = args.ClientY;
    }

    private void OnDragEnd(DragEventArgs args)
    {
        offsetX += args.ClientX - startX;
        offsetY += args.ClientY - startY;
    }
}